﻿@using System.Collections.Generic
@using System.Linq
@using NancyServer.Localization
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyServer.ViewModels.FinalTableViewModel>
 @{
     Layout = "Views/Shared/_layout.cshtml";

     var sums = new Dictionary<int, double>();
     foreach (var participant in Model.SkatingModel.Participants)
     {
        sums.Add(participant.Number, 0);
     }
}   

<div class="page-header">
    <h1><a href="#" onclick="window.history.back(); return false;"><i class="fa fa-arrow-circle-o-left"></i></a>@Translation.Final @Model.Competition.Title </h1>
</div>

<div class="panel panel-default" style="overflow: scroll">
    
    @foreach (var dance in Model.SkatingModel.DanceSkating)
    {
        var danceObj = Model.Competition.Dances.Single(d => d.Dance.Id == dance.DanceInRound.Dance.Id);
        <div class="panel-heading">@danceObj.Dance.DanceName</div>
        <table class="table fa-lg" style="border-style: solid">
            <tr>
                <th>Nr.</th>
                @foreach (var judge in Model.SkatingModel.Judges)
                {
                    <th>@judge.Sign</th>
                }
            
                @for (var i = 1; i <= Model.SkatingModel.Participants.Count; i++)
                {
                    <th>@(i == 1 ? "1." : "1.-" + i)</th>
                }
           
                <th>Platz</th>
                <th>Summe</th>
            </tr>
            <!-- Table Body -->
            @foreach (var participant in dance.CoupleResults.OrderBy(p => p.Participant.Number))
            {
                sums[participant.Participant.Number] += participant.Place;
                <tr>
                    <td>@(participant.Participant.Number)) @participant.Participant.Couple.NiceName</td>
                    @for(var i=0;i<Model.SkatingModel.Judges.Count;i++)
                    {
                        <td>@participant.Marks[i].Mark</td>
                    }
                    @for (var i = 0; i < Model.SkatingModel.Participants.Count; i++)
                    {
                        <td>@(participant.GetSkatingLabel(i))</td>
                    }
                    <td>@participant.Place</td>
                    <td>@sums[participant.Participant.Number]</td>
                </tr>
            }
        </table>
    }

    <div class="panel panel-default" style="overflow: scroll">
        @foreach (var judge in Model.Competition.GetJudges())
        {
            <p>@judge.Sign : @judge.NiceName</p>
        }
    </div>
</div>