﻿@using System.Linq
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyServer.ViewModels.JS2MarkingViewModel>
 @{
     Layout = "Views/Shared/_layout.cshtml";
}   

<div class="page-header">
    <h1><a href="#" onclick="window.history.back(); return false;"><i class="fa fa-arrow-circle-o-left"></i></a>Final @Model.Competition.Title </h1>
</div>

<div class="panel panel-default" style="overflow: scroll">
    
    @foreach (var dance in Model.Dances)
    {
        <div class="panel-heading">Results @dance.DanceName</div>
        <table class="table fa-lg" style="border-style: solid">
            <tr>
                <th>Couple</th>
                @foreach (var judge in Model.Judges)
                {
                    <th>@judge.Sign</th>
                }
                <th>Total</th>
            </tr>

            @foreach (var participant in Model.Participants)
            {
                var resultOfParticipant = Model.MarkingPerParticipants.SingleOrDefault(m => m.Participant.Id == participant.Id);
                var totalDance = 0.0;
                <tr>
                    <td>@participant.NiceNameWithNumber</td>
                    @foreach (var judge in Model.Judges)
                    {
                        var markingDance = resultOfParticipant.Results.SingleOrDefault(m => m.Dance.Id == dance.Id);
                        totalDance = markingDance.TotalPoints;
                        var mark = markingDance.Marks[judge.Sign];

                        <td>@mark.ScoreWithComponent</td>
                    }
                    <td>@string.Format("{0:#0.00}", totalDance)</td>
                </tr>
            }

        </table>
    }
</div>