﻿@using System.Linq
@using DataModel
@using NancyServer.Localization
@using NancyServer.ViewModels
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyServer.ViewModels.TotalMarkingTableViewModel>
 @{
     Layout = "Views/Shared/_layoutTotalMarking.cshtml";
}

@{
    var numberOfDances = Model.Competition.Dances.Count;
    var numberOfJudges = Model.Competition.GetJudges().Count;
}
<div class="page-header">
    <h1><a href="#" onclick="window.history.back(); return false;"><i class="fa fa-arrow-circle-o-left"></i></a> @Translation.MarkingTable @Model.Competition.Title</h1>
</div>

<div class="panel panel-default" style="overflow: scroll">

    <div class="panel-heading">@Translation.Results :</div>
    <table class="table fa-lg" style="border-style: solid">
        <tr>
            <th>Nr.</th>
            <th>@Translation.Couple</th>
            <th>@Translation.Country</th>
            <th>@Translation.Round</th>
            @foreach (var dance in Model.Competition.Dances.OrderBy(d => d.DanceOrder))
            {
                <th colspan="@(Model.Competition.GetJudges().Count + 1)">@dance.Dance.DanceName</th>
            }
            <th>@Translation.Sum</th>
            <th>@Translation.Placing</th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            @foreach (var dance in Model.Competition.Dances)
            {
                foreach (var judge in Model.Competition.GetJudges().OrderBy(j => j.Sign))
                {
                    <th>@judge.Sign</th>
                }
                <th></th>
            }
            <th></th>
            <th></th>
        </tr>

        @foreach (var participant in Model.ParticipantsMarkings.OrderBy(p => p.Participant.Number))
        {

            var isFirst = true;
            var backColor = "";

            foreach (var round in participant.Markings.Keys)
            {
                <tr>
                    @if (isFirst)
                    {
                        <td rowspan="@participant.Markings.Keys.Count">@participant.Participant.Number</td>
                        <td rowspan="@participant.Markings.Keys.Count">@participant.Participant.Couple.NiceName</td>
                        <td rowspan="@participant.Markings.Keys.Count">@participant.Participant.Couple.Country</td>

                    }


                    <td>@round.Name</td>

                    @{ var danceIndex = 0; }

                    @foreach (var dance in Model.Competition.Dances.OrderBy(d => d.DanceOrder))
                    {
                        danceIndex++;
                        backColor = danceIndex % 2 == 0 ? "lightgray" : "white";

                        foreach (var judge in Model.Competition.GetJudges().OrderBy(j => j.Sign))
                        {
                            var mark = participant.Markings[round].FirstOrDefault(m => m.Dance.Id == dance.Dance.Id && m.Judge.Id == judge.Id);

                            if (mark == null)
                            {
                                // if a dance was not danced, this might be null.
                                mark = new TotalMarkingViewModel() { MarkingString = " " };
                            }
                            <td style="text-align: center; padding: 0 3px 0 3px;background: @backColor">@mark.MarkingString</td>
                        }

                        var sum = participant.Markings[round].Where(m => m.Dance.Id == dance.Dance.Id).Sum(s => s.SumPerDance);
                        
                        <td style="padding: 0 0 0 10px;background: @backColor">@(sum >= 0 ? sum.ToString() : "")</td>

                        if (round.MarksInputType == MarkingTypes.MarksSumOnly)
                        {
                            var tdCount = (Model.Competition.Dances.Count - 1) * (Model.Competition.GetJudges().Count + 1);
                            for (var i = 0; i < tdCount; i++)
                            {
                                <td></td>
                            }
                            break;
                        }
                    }

                    <td style="text-align: center; padding: 0 3px 0 3px;">@(participant.Sums[round] > -1 ? participant.Sums[round].ToString() : "")</td>

                    @if (isFirst)
                    {
                        <td style="vertical-align: middle;" rowspan="@participant.Markings.Keys.Count">@participant.Participant.Place</td>
                        isFirst = false;
                    }

                </tr>
            }
        }
    </table>

    <div class="panel panel-default" style="overflow: scroll">
        @foreach (var judge in Model.Competition.GetJudges())
        {
            <p>@judge.Sign : @judge.NiceName</p>
        }
    </div>
</div>
