﻿@using NancyServer.Localization
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyServer.ViewModels.OfficialsViewModel>
 @{
     Layout = "Views/Shared/_layout.cshtml";
}   

<div class="page-header">
    <h1><a href="#" onclick="window.history.back(); return false;"><i class="fa fa-arrow-circle-o-left"></i></a> @Translation.OfficialsOf @Model.Competition.Title</h1>
</div>


<div>
    <div class="panel panel-default">
        <div class="panel-heading">@Translation.Judges</div>
        <div class="panel-body">
            <ul class="list-group fa-lg">
                @foreach (var judge in Model.Judges)
                {
                    <li class="list-group-item">(@judge.Sign) @judge.NiceName / @judge.Club / @(judge.Nationality != null ? judge.Nationality.LongName : "")</li>
                }
            </ul>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">@Translation.Officials</div>
        <div class="panel-body">
            <ul class="list-grou fa-lg">
                @foreach (var official in Model.Officials)
                {
                    <li class="list-group-item">@official.Official.NiceName (@official.Role.RoleLong / @official.Official.Club / @(official.Official.Nationality != null ? official.Official.Nationality.LongName : "") )</li>
                }
            </ul>
        </div>
    </div>
</div>

