﻿@using DataModel
@using NancyServer.Localization
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyServer.ViewModels.CompetitionViewModel>
 @{
     Layout = "Views/Shared/_layout.cshtml";
}   

<div class="page-header">
    <h1><a href="#" onclick="window.history.back(); return false;"><i class="fa fa-arrow-circle-o-left"></i></a> @Model.Competition.Title </h1>
</div>

@if (Model.Competition.State == CompetitionState.Finished)
{
    <div class="col-sm-6 col-md-3">
        <a href="finaltable.html">
            <div class="thumbnail tile tile-wide tile-lime">
                <h4 class="tile-text">@Translation.FinalTable</h4>
            </div>
        </a>
    </div>
}

    <div class="col-sm-6 col-md-3">
        <a href="result.html">
            <div class="thumbnail tile tile-wide tile-wisteria">
                <h4 class="tile-text">@Translation.Result</h4>
            </div>
        </a>
    </div>

    <div class="col-sm-6 col-md-3">
        <a href="markingtable.html">
            <div class="thumbnail tile tile-wide tile-sun-flower">
                <h4 class="tile-text">@Translation.MarkingTable</h4>
            </div>
        </a>
    </div>

    <div class="col-sm-6 col-md-3">
        <a href="registeredcouples.html">
            <div class="thumbnail tile tile-wide tile-lime">
                <h4 class="tile-text">@Translation.RegisteredCouples</h4>
            </div>
        </a>
    </div>


<div class="col-sm-6 col-md-3">
    <a href="officials.html">
        <div class="thumbnail tile tile-wide tile-lime">
            <h4 class="tile-text">@Translation.Officials</h4>
        </div>
    </a>
</div>






