﻿@using System.Linq
@using NancyServer.Localization
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.IEnumerable<DataModel.Models.Participant>>
 @{
     Layout = "Views/Shared/_layout.cshtml";
}   

<div class="page-header">
    <h1><a href="#" onclick="window.history.back(); return false;"><i class="fa fa-arrow-circle-o-left"></i></a> @Translation.RegisteredCouples @(Model.Any() ? Model.First().Competition.Title : "")</h1>
</div>


<div class="panel panel-default">
    
    <table class="table fa-lg">
        @foreach (var participant in Model)
        {
                <tr><td>@participant.Number</td><td>@participant.Couple.NiceName</td><td>@participant.Couple.Country</td></tr>            
        }
    </table>
</div>

