﻿@using NancyServer.Localization
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyServer.ViewModels.ResultGroupedViewModel>
 @{
     Layout = "Views/Shared/_layout.cshtml";
}   

<div class="page-header">
    <h1><a href="#" onclick="window.history.back(); return false;"><i class="fa fa-arrow-circle-o-left"></i></a> @Translation.ResultOrderedByPlace @Model.Competition.Title</h1>
</div>


<div class="panel panel-default">
    
    <table class="table fa-lg">
        @foreach (var group in Model.ResultGrouped)
        {
            <tr><td colspan="4" class="ResultRoundHeader">@group.Key.Name</td></tr>

            foreach (var participant in group)
            {
                <tr><td>@participant.Place</td><td>@participant.Number</td><td>@participant.Couple.NiceName</td><td>@participant.Couple.Country</td></tr>
            }
        }
    </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">@Translation.Remarks :</div>
    @Model.Competition.Report
</div>
