<mat-card>
    <mat-card-header>
      <mat-card-title [translate]="'rounds.title'">Ihre aktuellen Runden</mat-card-title>
      <mat-card-subtitle [translate]="'rounds.subTitle'">Hier sehen Sie ihre aktuellen Runden im Turnier <span *ngIf="rounds.length > 0">&nbsp;{{rounds[0].competition.name}}</span></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/heats/' + round.id" *ngFor="let round of rounds"> {{ round.name }} </a>
         </mat-nav-list>
         
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [routerLink]="'/competitions'" [translate]="'rounds.back'">Zurück</button>
      <button mat-raised-button style="margin-left: 24px" (click)="reload()" [translate]="'rounds.reload'">Neu laden <mat-spinner [diameter]="20" *ngIf="isLoading"></mat-spinner></button>
      
    </mat-card-actions>
  </mat-card>