<h1 [translate]="'login.headline'"> Willkommen zu TPS.net</h1>
<button mat-icon-button style="width: 40px; height: 40px; font-size: 30px" (click)="translateService.use('de')"><flag-icon country="de" squared></flag-icon></button>
<button mat-icon-button style="width: 40px; height: 40px; font-size: 30px;margin-left: 24px" (click)="translateService.use('en')"><flag-icon country="us" squared></flag-icon></button>
<!--
<button mat-icon-button style="width: 40px; height: 40px; font-size: 30px;margin-left: 24px" (click)="translateService.use('es')"><flag-icon country="es" squared></flag-icon></button>
-->
<br/><br/>
<span style="margin-top: 30px" [translate]="'login.message'">Geben Sie Ihre DTV - ID ein, um Ihre persönliche Rundenauslosung zu sehen</span>
<br /><br/>
<span [translate]="'login.guidline'">Bitte wie auf der Id-Card angegeben, also mit führendem 'DE' aber ohne Leerzeichen etc.</span>
<br />
<mat-form-field style="margin-top: 24px">
  <input matInput placeholder="{{'login.yourId' | translate}}" (change)="changeValue($event)">
</mat-form-field>
<br/>
<span *ngIf="hasError" style="font-size: 12px; color: red">{{error}}</span>
<br /><br />
<button mat-raised-button (click)="login()"><span [translate]="'login.letsGo'">Und los!</span></button>
