﻿@using System.Linq
@using NancyServer.Localization
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyServer.ViewModels.MarksViewModel>
 @{
     Layout = "Views/Shared/_layout.cshtml";
}   

<div class="page-header">
    <h1><a href="#" onclick="window.history.back(); return false;"><i class="fa fa-arrow-circle-o-left"></i></a> @Translation.MarksOf @Model.Round.Name</h1>
</div>


<div class="panel panel-default">

    <div class="panel-heading">Marks:</div>
    <table class="table fa-lg">
        <tr><td>Participant \ Judge</td>
            @foreach (var judge in Model.Judges)
            {
                <td>@judge.Sign</td>
            }
        </tr>
        @foreach (var participant in Model.Participants)
        {
            <tr><td>@participant.Number</td>
            @foreach (var judge in Model.Judges)
            {
                var markCount = Model.Marks.Single(m => m.Judge.Id == judge.Id && m.Participant.Id == participant.Id);

                <td>@markCount.MarksCount</td>
            }
            </tr>
        }
    </table>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Judges</div>
    <div class="panel-body">
        <ul class="list-group fa-lg">
            @foreach (var judge in Model.Judges)
            {
                <li class="list-group-item">@judge.Sign : @judge.NiceName / @judge.Club / @(judge.Nationality != null ? judge.Nationality.LongName : "")</li>
            }
        </ul>
    </div>
</div>



