﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyServer.ViewModels.CompetitionViewModel>
 
<script language="javascript" type="text/javascript">

    window.setTimeout('window.location = "/Carousel"',2000);

</script>



