﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyServer.Modules.DroppedOutCarouselViewModel>

@{
    Layout = "Views/Shared/_layoutNoHeader.cshtml";
}

<style>
    td {
        font-size: 45px;
        padding-right: 15px;
    }
</style>

    <script language="javascript" type="text/javascript">

        window.setTimeout('window.location = "/@Model.NextPageName/@Model.NextRoundId/@Model.NextPage"',10000);

    </script>

<h1>@Model.CompetitionName </h1>
<h2>Placings in @Model.RoundName (@Model.PageString)</h2>

    <table>
        <tr>
            <td><h2>No.</h2></td>
            <td><h2>Couple</h2></td>
            <td><h2>Country</h2></td>
            <td><h2>Place</h2></td>

        </tr>
        @foreach (var p in Model.DroppedOut)
        {
            
            <tr>
                <td style="padding-left: 30px">@p.Participant.Number</td>
                <td>@p.Participant.Couple.NiceName</td>
                <td>@p.Participant.Couple.Country</td>
                <td>@p.Place</td>
            </tr>
        }
    </table>

