﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyServer.Modules.QualifiedCarouselViewModel>

@{
    Layout = "Views/Shared/_layoutNoHeader.cshtml";
}

<style>
    
    td {
        font-size: 45px;
        padding-right: 15px;
    }

</style>

    <script language="javascript" type="text/javascript">

    window.setTimeout('window.location = "/@Model.NextPageName/@Model.NextRoundId/@Model.NextPage"',10000);

    </script>

<h1>@Model.EventTitle</h1>
<h1>@Model.CompetitionName </h1>
<h1>Qualified for @Model.RoundName (@Model.PageString)</h1>

    <table>
        <tr>
            <td><h2>No.</h2></td>
            <td><h2>Couple</h2></td>
            <td><h2>Country</h2></td>
         @foreach (var dance in Model.DanceShortNames)
         {
             <td><h2>@dance</h2></td>
         }
        </tr>
        @foreach (var p in Model.Qualifieds)
        {
            var heats = Model.HeatsOfCouple[p.Number];

            <tr>
                <td style="padding-left: 30px">@p.Number</td>
                <td>@p.Couple.NiceName</td>
                <td>@p.Couple.Country</td>

                @foreach (var heat in heats)
                {
                    <td>@heat</td>
                }
            </tr>
        }
    </table>
