﻿@using NancyServer.Localization
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyServer.ViewModels.CompetitionViewModel>
 @{
     Layout = "Views/Shared/_layout.cshtml";
}   

<div class="page-header">
    <h1><a href="#" onclick="window.history.back(); return false;"><i class="fa fa-arrow-circle-o-left"></i></a> @Model.Competition.Title </h1>
</div>

<a href="/Round/Officials/@Model.Competition.Id">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail tile tile-wide tile-lime">

            <h2 class="tile-text">@Translation.Officials</h2>

        </div>
    </div>
</a>

<a href="/Competition/Participants/@Model.Competition.Id">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail tile tile-wide tile-lime">

            <h2 class="tile-text">@Translation.Participants</h2>

        </div>
    </div>
</a>


