﻿@using System.Linq
@using NancyServer.Localization
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.List<DataModel.Models.Competition>>
 @{
     Layout = "Views/Shared/_layout.cshtml";
}   

<div class="page-header">
    <h1><a href="#" onclick="window.history.back(); return false;"><i class="fa fa-arrow-circle-o-left"></i></a> @Translation.Competitions</h1>
</div>

@foreach (var competiton in Model.OrderBy(c => c.StartTime))
{
    <a href="/Round/@competiton.Id">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail tile tile-wide tile-lime">

                <h4 class="tile-text">@competiton.Title</h4>

            </div>
        </div>
    </a>
}




