﻿@using System.Linq
@using DataModel
@using NancyServer.Localization
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyServer.ViewModels.CompetitionViewModel>
 @{
     Layout = "Views/Shared/_layout.cshtml";
}   

<div class="page-header">
    <h1><a href="#" onclick="window.history.back(); return false;"><i class="fa fa-arrow-circle-o-left"></i></a> @Translation.QualifiedFor @Model.Competition.Title</h1>
</div>


<div class="panel panel-default">
    <div class="panel-heading">CompetitionState:</div>
    <table class="table fa-lg">
        <tr>
            <td>State:</td>
            <td>@Model.Competition.State</td>
        </tr>
        <tr>
            <td>Checked-In</td>
            <td>@Model.Competition.Participants.Count(p => p.State == CoupleState.Dancing)</td>
        </tr>
        <tr>
            <td>Excused:</td>
            <td>@Model.Competition.Participants.Count(p => p.State == CoupleState.Excused)</td>
        </tr>
        <tr>
            <td>Missing:</td>
            <td>@Model.Competition.Participants.Count(p => p.State == CoupleState.Missing)</td>
        </tr>
    </table>

    <div class="panel-heading">Participants:</div>
    <table class="table fa-lg">
        @foreach (var participant in Model.Competition.Participants.OrderBy(o => o.Number))
        {
            <tr><td>@participant.StarString</td><td>@participant.Number</td><td>@participant.Couple.NiceName</td><td>@participant.Couple.Country</td><td>@participant.State</td></tr>
        }
    </table>
</div>

