
<div id="holder">
    <mat-card *ngIf="heatsService.couple">
        <table>
            <tr>
                <td style="font-size: 36px; line-height: 36px; height: 36px; width: 36px;">
                    <mat-icon style="font-size: 36px; height: 36px; width: 36px;">supervisor_account</mat-icon>
                </td>
                <td>
                    <h4 style="margin-left: 12px">{{heatsService.couple.name}}</h4>
                </td>
            </tr>
        </table>
    </mat-card>
    <div id="body">
        <router-outlet></router-outlet>
    </div>
    <footer>
        <div style="margin-top:24px">
            <span >(c) 2019, signalkontor GmbH</span>
        </div>
    </footer>
</div>




