﻿@using System.Linq
@using NancyServer.Localization
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyServer.ViewModels.Presentation.EventViewModel>
 @{
     Layout = "Views/Shared/_layoutProjector.cshtml";
}   

<style>
    a.toggle {
    background: #ccc;
    cursor: pointer;
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    padding: 5px 5px;
    display: inline-block;
    font-size: 20px;
    min-width: 40px;
    }

    a.down {
    background: #74FB76;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom:solid 2px  #eaeaea;
    border-right: solid 2px #eaeaea;
    }
</style>


<h1 style="margin-top: 400px">
    @Model.Event.Title
</h1>

<h3>From @Model.Event.DateFrom.Value.ToShortDateString() to @(Model.Event.DateTo.HasValue ? Model.Event.DateTo.Value.ToShortDateString() : "")</h3>


