﻿@using System.Linq
@using NancyServer.Localization
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyServer.ViewModels.Presentation.HeatViewModel>
 @{
     Layout = "Views/Shared/_layoutProjector.cshtml";
}   

<style>
    a.toggle {
    background: #ccc;
    cursor: pointer;
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    padding: 5px 5px;
    display: inline-block;
    font-size: 20px;
    min-width: 40px;
    }

    a.down {
    background: #74FB76;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom:solid 2px  #eaeaea;
    border-right: solid 2px #eaeaea;
    }
</style>


<h1 style="margin-top: 50px">
    Heats for @Model.Round.Competition.Title / @Model.Round.Name / @Model.Dance.DanceName / Heat @Model.HeatNumber
</h1>

<p>
    @foreach (var participant in Model.Heat) {
        
        <div>@participant.Number</div>

    }

</p>

