<mat-card>
  <mat-card-header>
    <mat-card-title [translate]="'competitions.title'">Ihre Turniere</mat-card-title>
    <mat-card-subtitle [translate]="'competitions.subTitle'">Hier sehen Sie ihre aktuellen Turniere</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <mat-nav-list>
          <a mat-list-item [routerLink]="'/rounds/' + competition.id" *ngFor="let competition of competitions"> {{ competition.name }} <span *ngIf="competition.placeInCompetition">&nbsp;- {{competition.placeInCompetition}} </span>  <span [translate]="competitions.place" *ngIf="competition.placeInCompetition">&nbsp;Platz</span></a>
       </mat-nav-list>   
  </mat-card-content>
  <mat-card-footer>
    <button mat-raised-button style="margin-bottom: 12px; margin-left: 12px" (click)="reload()" [translate]="'rounds.reload'">Neu laden <mat-spinner [diameter]="20" *ngIf="isLoading"></mat-spinner></button>
  </mat-card-footer>
</mat-card>