﻿@using System.Linq
@using DataModel
@using NancyServer.Localization
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyServer.ViewModels.DrawingViewModel>
 @{
     Layout = "Views/Shared/_layout.cshtml";
}   



<div class="page-header">
    <h1><a href="#" onclick="window.history.back(); return false;"><i class="fa fa-arrow-circle-o-left"></i></a> @Model.Round.Competition.Title - @Translation.Drawing @Model.Round.Name </h1>
</div>

<table class="table fa-lg">


            @{ 
            var heats = Model.Heats[Model.Heats.Keys.First()];
            var heatNo = 1;
            

            foreach (var heat in heats)
            {
                <tr>
                    <td colspan="4">@Translation.Heat @heatNo (@heat.Count @Translation.Couples)</td>
                </tr>
                foreach (var participant in heat)
                {
                    <tr>
                        <td>@participant.Number</td>
                        <td>@participant.Couple.NiceName</td>
                        <td>@participant.Couple.Country</td>
                    </tr>
                }
                heatNo++;
            }
}

</table>
<div>
    <div class="panel panel-default">
        <div class="panel-heading">@Translation.Adjudicators</div>
        <div class="panel-body">
            <ul class="list-group fa-lg">
                @foreach (var judge in Model.Round.Competition.GetJudges())
                {
                    <li class="list-group-item">(@judge.Sign) @judge.NiceName / @judge.Club</li>
                }
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">@Translation.OtherOfficials</div>
        <div class="panel-body">
            <ul class="list-group fa-lg">
                @foreach (var judge in Model.Round.Competition.Officials.Where(o => o.Role.Id != Roles.Judge).OrderBy(j => j.Official.Sign))
                {
                    <li class="list-group-item">(@judge.Official.Sign) @judge.Official.NiceName / @judge.Role.RoleLong / @judge.Official.Club</li>
                }
            </ul>
        </div>
    </div>
</div>

