﻿@using System.Linq
@using NancyServer.Localization
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyServer.ViewModels.DrawingViewModel>
 @{
     Layout = "Views/Shared/_layout.cshtml";
}   

<style>
    a.toggle {
    background: #ccc;
    cursor: pointer;
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    padding: 5px 5px;
    display: inline-block;
    font-size: 20px;
    min-width: 40px;
    }

    a.down {
    background: #74FB76;
    border-top: solid 2px #777;
    border-left: solid 2px #777;
    border-bottom:solid 2px  #eaeaea;
    border-right: solid 2px #eaeaea;
    }
</style>

<script>
    $(document).ready(function () {
        $('a#button').click(function () {
            $(this).toggleClass("down");
        });
    });
</script>

<div class="page-header">
    <h1><a href="#" onclick="window.history.back(); return false;"><i class="fa fa-arrow-circle-o-left"></i></a> @Model.Round.Competition.Title - @Translation.Drawing @Model.Round.Name </h1>
</div>

@foreach (var danceInRound in Model.Heats.Keys)
{
    <div class="panel panel-default">

        <div class="panel-heading">@danceInRound.Dance.DanceName</div>
        <table class="table">
            @{ 
                var heats = Model.Heats[danceInRound];
                var heatNo = 1;
            }
            @foreach (var heat in heats)
            {
                <tr>
                    <td>@Translation.Heat @heatNo . (@heat.Count)</td>
                    <td>
                        @foreach (var participant in heat.OrderBy(p => p.Number))
                        {
                            <span style="margin-right: 10px; "><a id="button" class="toggle" >@participant.Number</a> </span>
                        }                        
                    </td>
                </tr>
                heatNo++;
            }
        </table>
    </div>
}

