﻿@using NancyServer.Localization
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyServer.ViewModels.ResultViewModel>
 @{
     Layout = "Views/Shared/_layout.cshtml";
}   

<div class="page-header">
    <h1><a href="#" onclick="window.history.back(); return false;"><i class="fa fa-arrow-circle-o-left"></i></a> @Model.Competition.Title - @Translation.FinalResult</h1>
</div>


<div class="panel panel-default">
    
    <div class="panel-heading">Qualified:</div>
    <table class="table fa-lg">
        @foreach (var participant in Model.Participants)
        {
            <tr><td>@participant.PlaceFrom . </td><td>@participant.Number</td><td>@participant.Couple.NiceName</td><td>@participant.Couple.Country</td></tr>
        }
    </table>
</div>

