﻿@using System.Linq
@using DataModel
@using NancyServer.Localization
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyServer.ViewModels.RoundViewModel>
 @{
     Layout = "Views/Shared/_layout.cshtml";
}   

<div class="page-header">
    <h1><a href="#" onclick="window.history.back(); return false;"><i class="fa fa-arrow-circle-o-left"></i></a> @Model.Round.Competition.Title / @Model.Round.Name</h1>
</div>

@if (Model.Round.Competition.State == CompetitionState.Finished)
{
    <a href="/Round/FinalResult/@Model.Round.Competition.Id">
        <div class="col-sm-6 col-md-3">

            <div class="thumbnail tile tile-wide tile-lime">

                <h2 class="tile-text">@Translation.FinalResult</h2>

            </div>

        </div>
    </a>
}

<a href="/Round/Officials/@Model.Round.Competition.Id">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail tile tile-wide tile-lime">

            <h2 class="tile-text">@Translation.Officials</h2>

        </div>
    </div>
</a>

<a href="/Round/Qualified/@Model.Round.Id">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail tile tile-wide tile-wisteria">

            <h2 class="tile-text">@Translation.Qualified</h2>

        </div>
    </div>
</a>

<a href="/Round/Drawing/@Model.Round.Id">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail tile tile-wide tile-sun-flower">

            <h2 class="tile-text">@Translation.Drawing</h2>

        </div>
    </div>
</a>

<a href="/Round/DrawingWithNames/@Model.Round.Id">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail tile tile-wide tile-peter-river">
            <h2 class="tile-text">@Translation.CouplesByHeat</h2>
        </div>
    </div>
</a>

<a href="/Round/Results/@Model.Round.Competition.Id">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail tile tile-wide tile-peter-river">
            <h2 class="tile-text">@Translation.Results</h2>
        </div>
    </div>
</a>

<a href="/Rounds/@Model.Round.Competition.Id">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail tile tile-wide tile-wet-asphalt">
            <h2 class="tile-text">@Translation.AllRounds</h2>
        </div>
    </div>
</a>
<!--
<a href="/ScoreBoard/Drawing?RoundId=@Model.Round.Id&Heat=0&DanceId=0">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail tile tile-wide tile-wet-asphalt">
            <h2 class="tile-text">@Translation.Scoreboard</h2>
        </div>
    </div>
</a>
-->
@if (RenderContext.Context.CurrentUser != null && RenderContext.Context.CurrentUser.Claims.Contains("marking"))
{
    <a href="/Marking/Marks/@Model.Round.Id">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail tile tile-wide tile-magenta">

                <h1 class="tile-text">@Translation.Marking</h1>

            </div>
        </div>
    </a>
}