﻿@using System.Linq
@using DataModel
@using NancyServer.Localization
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyServer.ViewModels.CompetitionViewModel>
 @{
     Layout = "Views/Shared/_layout.cshtml";
}   

<div class="page-header">
    <h1><a href="#" onclick="window.history.back(); return false;"><i class="fa fa-arrow-circle-o-left"></i></a> @Model.Competition.Title - @Translation.OfficialsOf </h1>
</div>


<div>
    <div class="panel panel-default">
        <div class="panel-heading">@Translation.Adjudicators</div>
        <div class="panel-body">
            <ul class="list-group fa-lg">
                @foreach (var judge in Model.Competition.GetJudges())
                {
                    <li class="list-group-item">(@judge.Sign) @judge.NiceName / @judge.Club / @(judge.Nationality != null ? judge.Nationality.LongName : "")</li>
                }
            </ul>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">@Translation.OtherOfficials</div>
        <div class="panel-body">
            <ul class="list-group fa-lg">
                @foreach (var judge in Model.Competition.Officials.Where(o => o.Role.Id != Roles.Judge).OrderBy(j => j.Official.Sign))
                {
                    <li class="list-group-item">(@judge.Official.Sign) @judge.Official.NiceName / @judge.Role.RoleLong / @judge.Official.Club / @(judge.Official.Nationality != null ? judge.Official.Nationality.LongName : "")</li>
                }
            </ul>
        </div>
    </div>
</div>

