﻿@using NancyServer.Localization
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyServer.ViewModels.ResultGroupedViewModel>
 @{
     Layout = "Views/Shared/_layout.cshtml";
}   

<div class="page-header">
    <h1><a href="#" onclick="window.history.back(); return false;"><i class="fa fa-arrow-circle-o-left"></i></a> @Model.Competition.Title - @Translation.OrderedResult </h1>
</div>


<div class="panel panel-default">
    
    <div class="panel-heading">Results:</div>
    <table class="table fa-lg">
        @foreach (var group in Model.ResultGrouped)
        {
            <tr><td colspan="3">@group.Key.Name</td></tr>

            foreach (var participant in group)
            {
                <tr><td>@participant.PlaceFrom . </td><td>@participant.Number</td><td>@participant.Couple.NiceName</td><td>@participant.Couple.Country</td><td>@participant.RankingPoints</td></tr>
            }
        }
    </table>
</div>

