﻿@using System.Linq
@using NancyServer.Localization
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyServer.ViewModels.AllRoundsViewModel>
 @{
     Layout = "Views/Shared/_layout.cshtml";
}   

<div class="page-header">
    <h1><a href="#" onclick="window.history.back(); return false;"><i class="fa fa-arrow-circle-o-left"></i></a> @Model.Competition.Title - @Translation.AllRoundsOf </h1>
</div>

<div class="panel panel-default">

    <div class="panel-heading">Rounds:</div>
    <table class="table">
        @foreach (var round in Model.Rounds)
        {
            <tr><td>@round.Name</td><td>@round.State</td><td><a href="/Round/Qualified/@round.Id">@Translation.Qualified</a></td><td><a href="/Round/Drawing/@round.Id">@Translation.Drawing</a></td>
        @if (RenderContext.Context.CurrentUser != null && RenderContext.Context.CurrentUser.Claims.Contains("marking"))
        {
                <td><a href="/Marking/Final/@round.Id">@Translation.Marking</a></td>                   
            }</tr>
        }
    </table>
</div>


