﻿@using System.Linq
@using NancyServer.Localization
@using NancyServer.Modules
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    var competitions = HomeModule.Competitions;
    var homeLink = "/Competitions";

    var prefix = "";
    
    if (Request.Url.Path.Contains("/Export/"))
    {
        prefix = "..";
        homeLink = "../Index.html";
    }
    else if (Request.Url.Path.Contains("/Export"))
    {
        prefix = ".";
        homeLink = "Index.html";
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="@prefix/content/style.css">
    <link rel="stylesheet" type="text/css" href="@prefix/content/metro-bootstrap.min.css">
    <link href="@prefix/content/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript" src="@prefix/scripts/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="@prefix/scripts/bootstrap.min.js"></script>

    <style>
        th, td {
            padding: 0 3px 0 3px !important;
        }
    </style>

</head>

<body>
   <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="@homeLink">TPS8.net 2018</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Translation.Competitions<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @if (competitions != null)
                    {
                        foreach (var competition in competitions)
                        {
                            var link = prefix == "" ? string.Format("/Round/{0}", competition.Id) 
                                           : prefix == "." ? string.Format("{0}/Index.html", competition.Id) 
                                                 : string.Format("../{0}/Index.html", competition.Id);
                            
                            <li><a href="@link">@competition.Title</a></li>
                        }
                    }
                </ul>
            </li>
            @if (competitions != null && competitions.Any())
            {
                <li><span style="font-size:30px;margin-top:30px;margin-left:20px">@competitions.First().Event.Title</span></li>
            }
            @if (prefix == "")
            {
                 if (RenderContext.Context.CurrentUser == null)
                 {
                     <li><a href="/Login/login">Login</a></li>
                 }
                 else
                 {
                     <li><a href="/Login/logout">Logout @RenderContext.Context.CurrentUser.UserName</a></li>
                 }
            }
        </ul>

    </div><!-- /.navbar-collapse -->

</nav>  
        
    <div class="container-fluid">
        <main class="content">
            @RenderBody()
        </main><!-- .content -->
    </div>  

</body>
</html>