﻿@using NancyServer.Modules
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    var competitions = HomeModule.Competitions;
    var homeLink = "/";

    var prefix = "";
    
    if (Request.Url.Path.Contains("/Export/"))
    {
        prefix = "..";
        homeLink = "../Index.html";
    }
    else if (Request.Url.Path.Contains("/Export"))
    {
        prefix = ".";
        homeLink = "Index.html";
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="@prefix/content/style.css">
    <link rel="stylesheet" type="text/css" href="@prefix/content/metro-bootstrap.min.css">
    <link href="@prefix/content/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript" src="@prefix/scripts/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="@prefix/scripts/bootstrap.min.js"></script>
    
    @if (Request.Url.Path.Contains("Carousel"))
    {
        <link rel="stylesheet" href="@prefix/content/css/carousel.css">
    }
</head>



<body>

    <div class="container-fluid">
        <main class="content">
            @RenderBody()
        </main><!-- .content -->
    </div>  

</body>
</html>