﻿@using System.Linq
@using NancyServer.Localization
@using NancyServer.Modules
@using NancyServer.ViewModels
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    
    <style>
        body {
            background: white;
        }
    </style>

</head>



<body>

@RenderBody()
 
</body>
</html>