﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="/content/style.css">
    <link rel="stylesheet" type="text/css" href="/content/metro-bootstrap.min.css">
    <link href="/content/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript" src="/scripts/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
</head>

<body>
 
    <div class="container-fluid">

        <main class="content">
            @RenderBody()
        </main><!-- .content -->
    </div>  

</body>
</html>