﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<string>
 @{
     Layout = "Views/Shared/_layout.cshtml";
}   

<div class="page-header">
    <h1><a href="#" onclick="window.history.back(); return false;"><i class="fa fa-arrow-circle-o-left"></i></a> Application Error!</h1>
</div>

<div>
    <p>
        <br/>
        <br/>
    </p>
</div>

<div class="alert alert-danger">@Model</div>



