﻿@using System.Linq
@using DataModel
@using NancyServer.Localization
@using NancyServer.ViewModels
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<object>

<style>
a h2 {
	margin-top: 0px;
	margin-bottom: 5px;
}
</style>

@if (Model is IHasCompetition)
{
    if(Request.Url == null || Request.Url.Path == null)
    {
        throw new ArgumentException("URL NULL");
    }

    var officialsClass = Request.Url.Path.Contains("/Officials/") ? "label-success" : "label-info";
    var qualifiedClass = Request.Url.Path.Contains("/Qualified/") ? "label-success" : "label-info";
    var drawingClass = Request.Url.Path.Contains("/Drawing/") ? "label-success" : "label-info";
    var drawNamesClass = Request.Url.Path.Contains("/DrawingWithNames/") ? "label-success" : "label-info";
    var resultsClass = Request.Url.Path.Contains("/Results/") ? "label-success" : "label-info";
    var allRoundsClass = Request.Url.Path.Contains("/Rounds/") ? "label-success" : "label-info";
    var participantsClass = Request.Url.Path.Contains("/Participants/") ? "label-success" : "label-info";
    var finalResultClass = Request.Url.Path.Contains("/FinalResult/") ? "label-success" : "label-info";
    var resultsByRegionClass = Request.Url.Path.Contains("/ResultByRegion/") ? "label-success" : "label-info";

    var competitionObject = (IHasCompetition) Model;

    var competition = competitionObject.Competition;


    <ul class="nav nav-stacked">
        @if (competition != null && competition.State == CompetitionState.Finished)
        {
            <li>
                <a href="/Round/FinalResult/@competition.Id">
                    <h2><span class="label @finalResultClass">@Translation.FinalResult</span></h2>
                </a>
            </li>
        }

        <li>
            <a href="/Round/Officials/@competition.Id">
                
            </a>
        </li>
        @if (competition.CurrentRound != null)
        {
            <li>
                <a href="/Round/Qualified/@competition.CurrentRound.Id">
                    <h2><span class="label @qualifiedClass">@Translation.Qualified</span></h2>
                </a>
            </li>

            <li>
                <a href="/Round/Drawing/@competition.CurrentRound.Id">
                    <h2><span class="label @drawingClass">@Translation.Drawing</span></h2>
                </a>
            </li>

            <li>
                <a href="/Round/DrawingWithNames/@competition.CurrentRound.Id">
                    <h2><span class="label @drawNamesClass">@Translation.CouplesByHeat</span></h2>
                </a>
            </li>
        }
        else
        {
            <li>
                <a href="/Competition/Participants/@competition.Id">
                    <h2><span class="label @participantsClass">@Translation.RegisteredCouples</span></h2>
                </a>
            </li>
        }
        
        @if (competition.Participants.Any(p => p.PlaceFrom.HasValue))
        {
            <li>
                <a href="/Round/Results/@competition.Id">
                    <h2><span class="label @resultsClass">@Translation.Results</span>
                    </h2>
                </a>
            </li>
            <li>
                <a href="/Round/ResultsByRegion/@competition.Id">
                    <h2><span class="label @resultsByRegionClass">@Translation.ResultByRegion</span>
                    </h2>
                </a>
            </li>
        }
        <li>
            <a href="/Rounds/@competition.Id">
                <h2><span class="label @allRoundsClass">@Translation.AllRounds</span></h2>
            </a>
        </li>

        @if (competitionObject.RunningCompetitions != null)
        {
            foreach (var comp in competitionObject.RunningCompetitions.Where(c => c.Id != competition.Id))
            {
                var link = "/Round/" + comp.Id;
                var color = "blue";

                switch (comp.State)
                {
                    case CompetitionState.CheckIn:
                        color = "Gray";
                        break;
                    case CompetitionState.Startlist:
                        if (comp.CurrentRound != null)
                        {
                            color = "green";
                        }
                        else
                        {
                            color = "black";
                        }
                        break;
                    case CompetitionState.Finished:
                        color = "red";
                        break;
                    default:
                        color = "green";
                        break;
                }


                if (comp.State == CompetitionState.Finished)
                {
                    link = "/Round/FinalResult/" + comp.CurrentRound.Id;
                }
                else if((comp.State == CompetitionState.CheckIn || comp.State == CompetitionState.Startlist) && comp.CurrentRound == null)
                {
                    link = "/Competition/Participants/" + comp.Id;
                }
                else if (comp.CurrentRound != null && comp.CurrentRound.RoundType.Id == RoundTypes.Final)
                {
                    link = "/Round/Qualified/" + comp.CurrentRound.Id;
                }
                else if (comp.CurrentRound != null && comp.CurrentRound.RoundType.HasDrawing)
                {
                    link = "/Round/Drawing/" + comp.CurrentRound.Id;
                }

                <li>
                    <a href="@link" style="color: @color">@comp.Title @(comp.StartTime.HasValue ? string.Format("({0}.{1} {2}:{3})", comp.StartTime.Value.Day, comp.StartTime.Value.Month, comp.StartTime.Value.Hour, comp.StartTime.Value.Minute) : "")</a>
                </li>
            }
        }


    </ul>
}



