/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100%
}

#holder{
    min-height: 100%;
    position:relative;
}

#body{
    margin-top: 12px;
    padding-bottom: 50px;    /* height of footer */
}

footer{
    height: 50px; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0; 
    vertical-align: bottom
}


