<mat-card>
    <mat-card-header>
      <mat-card-title [translate]="'heats.title'">Ihre Auslosung</mat-card-title>
      <mat-card-subtitle [translate]="'heats.subTitle'">Hier sehen Sie Ihre Auslosung in der Runde <span *ngIf="heats.length > 0"></span></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-nav-list>
            <a mat-list-item  *ngFor="let heat of heats"> {{ heat.dance }} : <span [translate]="'heats.group'">&nbsp;{{heat.heatIndex}}.&nbsp;Gruppe&nbsp;</span></a>
         </mat-nav-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [routerLink]="'/rounds/' + myHeatsService.lastCompetitionId" [translate]="'heats.back'">Zurück</button>
     
    </mat-card-actions>
  </mat-card>
