﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyServer.Modules.DrawViewModel>
 @{
     Layout = "Views/Shared/_scoreboard.cshtml";

     var index = 0;
     
}   

<style>
    
     .heat-number 
     {
         margin-left: 20px;
         font-size: 30px;
     }

</style>

<p style="font-size: 30px">
    @Model.Competition / @Model.Round / 
</p>

<p align="center" style="font-size: 30px">
    @Model.Dance / Heat @(Model.Heat)
</p>
<br/><br/>
<p align="center">

    @while (index < Model.Drawings.Count)
    {
        for (var i = 0; i < 6; i++)
        {
            <span class="heat-number">@Model.Drawings[index].Participant.Number</span>
            index++;
            
            if (index == Model.Drawings.Count) { break; }
        }
    }
</p>

<p>
     @if (Model.NextRoundId > -1)
     {
         <a href="/ScoreBoard/Drawing?RoundId=@Model.NextRoundId&DanceId=@Model.NextDanceId&Heat=@Model.NextHeat" style="font-size: 10px;color: gray">Next...</a>
     }
     
</p>



