﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.IEnumerable<DataModel.Models.Competition>>
 @{
     Layout = "Views/Shared/_scoreboard.cshtml";

     var index = 0;
     
}   



<style>
    
     .heat-number 
     {
         margin-left: 20px;
         font-size: 30px;
     }

</style>


<table width="100%">
    @foreach (var competiton in Model)
    {
        <tr>
            <td>@competiton.Title</td>
            <td>@if (competiton.CurrentRound.RoundType.HasDrawing)
                {
                    <a href="RoundDrawing?RoundId=@competiton.CurrentRound.Id">Drawing</a>
                }
            </td>
            <td>@if (competiton.CurrentRound.RoundType.IsFinal)
                {
                    <a href="PricePresentation?"></a>
                }
            </td>
        </tr>
    }
</table>


