﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyServer.Modules.PricePresentationViewModel>
 @{
     Layout = "Views/Shared/_scoreboard.cshtml";

     var index = 0;
     
}   

<style>
    
     .heat-number 
     {
         margin-left: 20px;
         font-size: 30px;
     }

</style>

<p style="font-size: 30px">
    @Model.FinalRound.Competition.Title Prize Presentaion
</p>

<table width="100%">
    @foreach (var participant in Model.Participants)
    {
        <tr>
            <td Width="10%">@participant.Place</td>
            <td Width="50%">@participant.NiceNameWithNumber</td>
            <td Width="40%">@participant.Couple.Country</td>
        </tr>
    }
</table>


