﻿@using System.Linq
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.List<DataModel.Models.Competition>>
 @{
     Layout = "Views/Shared/_layout.cshtml";
}


@foreach (var competiton in Model.OrderBy(c => c.StartTime))
{
    <a href="/Round/@competiton.Id">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail tile tile-wide tile-lime">
                <p style="font-size: 24px">@competiton.Title</p>
                <p style="font-size: 16px">@(competiton.StartTime.HasValue ? competiton.StartTime.Value.ToShortDateString() : "")</p>
            </div>
        </div>
    </a>
}
