﻿@using System.Linq
@using DataModel
@using NancyServer.Localization
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.List<DataModel.Models.Competition>>
 @{
     Layout = "Views/Shared/_layout.cshtml";
     string link;
}

@foreach (var competiton in Model.OrderBy(c => c.StartTime))
{
    link = "/Round/" + competiton.Id;

    if (competiton.CurrentRound.RoundType.Id == RoundTypes.Final)
    {
        link = "/Round/Qualified/" + competiton.CurrentRound.Id;
    }
    else if (competiton.CurrentRound.RoundType.HasDrawing)
    {
        link = "/Round/Drawing/" + competiton.CurrentRound.Id;
    }

    <a href="@link">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail tile tile-wide tile-lime">

                <p style="font-size: 24px">@competiton.AgeGroup.ShortName @competiton.Class.ClassShortName @competiton.Section.ShortName</p>
                <p style="font-size: 16px">@(competiton.CurrentRound != null ? competiton.CurrentRound.Name : "")</p>
            </div>
        </div>
    </a>
}

<a href="/Home/AllCompetitions">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail tile tile-wide tile-lime">

            <h4 class="tile-text">@Translation.AllCompetitions</h4>
        </div>
    </div>
</a>

