﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyServer.ViewModels.DrawingViewModel>
 @{
     Layout = "Views/Shared/_layout.cshtml";
}   


<form method="POST" action="/Login/login">
    
    <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Username" name="username">
    </div>

    <div class="input-group input-group-lg">
        <input type="password" class="form-control" placeholder="Password" name="password">
    </div>

    <div class="btn-group">
        <button type="submit" class="btn btn-default">Login</button>
    </div>

</form>